* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    background-image: url(/homebgr.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

p{
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    line-height: 2;
    position: relative;
    top: 300px;
    left: 400px;
}